# Analysis of Daily Stock Price Data

## Column definitions:
- Date - specifies trading date
- Open - opening price
- High - maximum price during the day
- Low - minimum price during the day
- Close - close price adjusted for splits
- Adj Close - adjusted close price adjusted for both dividends and splits.
- Volume - the number of shares that changed hands during a given day
- Change % - the percentage change between Open and Adj Close

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('C:/Users/AAPL.csv')

Some additional data columns were added, calculated from the raw data.

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
df['Change %'] = (df['Adj Close'].pct_change() * 100)

To view the new dataframe I used the .head() function:

In [10]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031

## Dataset statistics

First, a variable `mean_adj_close` was created to show the mean of the values in the `Adj Close` column.

In [11]:
mean_adj_close = df['Adj Close'].mean()
mean_adj_close

167.04975667513898

The minimum value of the 'Low' column was calculated and stored in variable called `min_low`

In [12]:
min_low = df['Low'].min()
min_low

89.470001

The maximum value of the 'High' column was calculated and stored in variable called `max_high`

In [13]:
max_high = df['High'].max()
max_high

372.380005

A new variable was created called `price_range`, this calculated the difference between `min_low` and `max_high`

In [14]:
price_range = max_high - min_low
price_range

282.91000399999996

To find out how many rows are in the dataframe, df.shape() was used and stored as a variable called `entries`

In [15]:
entries = df.shape[0]
entries

1259

A variable called `positive_days` was created to calculate how many days (i.e. number of rows) that `Change %` was greater than zero.

In [18]:
positive_days = (df['Change %']>0).sum()

positive_days

671

To determine how many days (i.e. number of rows) has `Adj Close` been greater than the value in the final row, a variable called `days_higher` was created.

In [19]:
final_row = (df['Adj Close'].iloc[-1])
days_higher = (df['Adj Close']>final_row).sum()
days_higher

2

## Dataset sorting and filtering

A copy of the dataframe called `df_2020` was created, which contains only rows where `Year == 2020`.

In [21]:
df_year = df['Year'] == 2020
df_2020 = df[df_year]
df_2020.set_index('Date', inplace=True)
df_2020.head()

,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
Date,,,,,,,,,,,
2020-01-02,296.239990,300.600006,295.190002,300.350006,298.829956,33870100,2020,1,2,Thursday,2.281644
2020-01-03,297.149994,300.579987,296.500000,297.429993,295.924713,36580700,2020,1,3,Friday,-0.972206
2020-01-06,293.790009,299.959991,292.750000,299.799988,298.282715,29596800,2020,1,6,Monday,0.796825
2020-01-07,299.839996,300.899994,297.480011,298.390015,296.879883,27218000,2020,1,7,Tuesday,-0.470303
2020-01-08,297.160004,304.440002,297.160004,303.190002,301.655548,33019800,2020,1,8,Wednesday,1.608619

Still using the `df_2020` dataframe, the mean of `Change %` for entries where `Weekday == Monday`.
This was stored as a value in the variable called `mean_change_mon_2020`.

In [24]:
mean_change_mon_2020 = df_2020[df_2020['Weekday'] == 'Monday']['Change %'].mean()
mean_change_mon_2020

0.2918877852311579

The sum of the `Volume` column in `df_2020` for entries where `Month == 3` was calculated.  
This was stored as a value in the variable called `total_volume_march_2020`.

In [26]:
total_volume_march_2020 = df_2020[df_2020['Month'] == 3]['Volume'].sum()
total_volume_march_2020

1570018100

Still using `df_2020`, the timestamp for when `Adj Close` was the highest was determined.
This was stored as a value in the variable called `year_high_timestamp`

In [27]:
year_high_timestamp = df_2020['Adj Close'].idxmax(axis = 0, skipna = True)
year_high_timestamp

Timestamp('2020-06-23 00:00:00')

A new dataframe `df_top_10` was created, containing the 10 entries from `df` with the highest positive `Change %` values.

In [28]:
df_top_10 = df.copy().sort_values(by='Change %', ascending=False).head(10)
df_top_10

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
1184,2020-03-13,264.890015,279.920013,252.949997,277.970001,277.219574,92683000,2020,3,13,Friday,11.980825
1191,2020-03-24,236.360001,247.690002,234.300003,246.880005,246.213516,71882800,2020,3,24,Tuesday,10.032544
1175,2020-03-02,282.279999,301.440002,277.720001,298.809998,298.003296,85349300,2020,3,2,Monday,9.310065
1200,2020-04-06,250.899994,263.109985,249.380005,262.470001,261.761414,50455100,2020,4,6,Monday,8.723748
1181,2020-03-10,277.140015,286.440002,269.369995,285.339996,284.569672,71322500,2020,3,10,Tuesday,7.202155
879,2018-12-26,148.300003,157.229996,146.720001,157.169998,154.059814,58582500,2018,12,26,Wednesday,7.042139
902,2019-01-30,163.250000,166.149994,160.229996,165.250000,161.979935,61109800,2019,1,30,Wednesday,6.833477
271,2016-07-27,104.269997,104.349998,102.750000,102.949997,96.822357,92344800,2016,7,27,Wednesday,6.496310
401,2017-02-01,127.029999,130.490005,127.010002,128.750000,122.367752,111985000,2017,2,1,Wednesday,6.098075
778,2018-08-01,199.130005,201.759995,197.309998,201.500000,196.137955,67935700,2018,8,1,Wednesday,5.891019

The variabled `top_10_not_mon` was created to determine how many entried in `df_top_10` were **not** on a Monday

In [30]:
top_10_not_mon = len(df_top_10[df_top_10['Weekday'] != 'Monday'])
top_10_not_mon

8

## Dataset manipulation

A new dataframe called 'df_var' was created, which is the same as `df` but with the additional column `Variation`, equal to:

((`High` - `Low`) / `Close`) * 100

In [32]:
df_var = df.copy()
df_var['Variation %'] = ((df_var['High']-df_var['Low'])/df_var['Close'])*100
df_var.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %,Variation %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN,1.004546
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794,0.750398
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392,0.727622
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979,1.095242
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031,1.893552

A final dataframe was created called `df_var_value`, which the same as `df_var` but with an additional column `Traded Value`, equal to:

`Volume * Adj Close`

In [34]:
df_var_value = df_var.copy()
df_var_value['Traded Value'] = df_var_value['Volume'] * df_var_value['Adj Close']
df_var_value.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %,Variation %,Traded Value
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN,1.004546,5.129137e+09
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794,0.750398,3.528132e+09
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392,0.727622,3.170849e+09
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979,1.095242,3.258450e+09
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031,1.893552,5.438177e+09